body {
  background-color: #EEE;
  padding: 1rem;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Panel {
  margin-top: 1rem;
  padding: 1rem;
}

.AppPage {
}

.button--language {
  margin-right: 1rem;
}

.panel-body {
  background-color: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
